<% provide(:title, "Ana Sayfa") %>
<div class="container">

  <div class="hero-unit">
  <h1>Kan Bağış Takip Sistemine Hoşgeldiniz!</h1>
      <h5>Kan Bağış Takip Sistemi bağışçıların kan verme kayıtlarını tutan bir web uygulamasıdır. Bağışçılar için en yakın kan toplama birimi hakkında bilgiler verir.</h5>
  </div>
</div>

<div class="row">
	<% unless logged_in? or admin_logged_in? %>
	<div class="span3">
	  <h2>Bağışçı Ol</h2>
	  <p>Sisteme kaydolarak, ihtiyaç halinde kan verme birimine davet edilmek üzere bilgilerinizi bırakabilirsiniz. Unutmayın ki her damla kan kurtarılan bir candır. </p>
	  <p><a class="btn" href="/donors/new">Kaydol &raquo;</a></p>
	</div><!--/span-->
	<div class="span3">
	  <h2>Giriş Yap</h2>
	  <p>Daha önceden kaydolduysanız bilgilerinizi güncellemek, bağış geçmişinizi görüntülemek, üç aylık kan verme vadenizin dolup dolmadığını öğrenebilirsiniz. Kan verin, hayat kurtarın!</p>
	  <p><a class="btn" href="/login">Giriş Yap &raquo;</a></p>
	</div><!--/span-->
	<div class="span3">
	  <h2>Proje Hakkında</h2>
	  <p>Ondokuz Mayıs Üniversitesi Bilgisayar Mühendisliği Bölümü öğrencileri, Mert Akkaya ve Salih Özdemir tarafından Yazılım Mühendisliği Laboratuvarı dersi kapsamında geliştirilmiştir. </p>
	  <p><a class="btn" href="https://github.com/mertak/kanBagis">Kaynağı İncele &raquo;</a></p>
	</div><!--/span-->
	<% end %>
</div><!--/row-->


